@import "tailwindcss";

/* Hides arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Card rotate */
@keyframes rotate {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

/* Card jiggle */
.animate-jiggle {
  animation: rotate 0.5s ease-in-out;
}
